.titulo-animado span {
  position: relative;
}

.titulo-animado span::before {
  content: "";
  color: #0acc82;
  animation: palavras 20s infinite;
}

.titulo-animado span::after {
  content: "";
  position: absolute;
  height: 110%;
  max-height: 40px;
  border-left: 2px solid #0acc82;
  right: -10px;
  opacity: 1;
  animation: cursor 10s infinite, digitacao 20s steps(15) infinite;
  width: calc(100% + 15px);
  background-color: var(--backGround);
}

@keyframes digitacao {
  10%,
  15%,
  30%,
  35%,
  50%,
  55%,
  70%,
  75%,
  90%,
  95% {
    width: 0;
  }

  5%,
  20%,
  25%,
  40%,
  45%,
  60%,
  65%,
  80%,
  85% {
    width: calc(100% + 15px);
  }
}

@keyframes cursor {
  0% {
    border-left: 2px solid var(--primary);
  }
}

@keyframes palavras {
  0%,
  20% {
    content: "Olá, meu nome é Filipe";
  }
  21%,
  40% {
    content: "Tenho 17 anos";
  }
  41%,
  60% {
    content: "Estou estudando para a WorldSkills";
  }
  61%,
  80% {
    content: "Aprendendo Flutter";
  }
  81%,
  100% {
    content: "Seja bem-vindo :)";
  }
}
